# OS-specific
.DS_Store

# Vagrant stuff
acceptance_config.yml
boxes/*
/.vagrant
/website/docs/.vagrant
/website/www/.vagrant
/vagrant-spec.config.rb
/output-vmware-windows-iso
/builds
*.box
/iso

# Windows stuff
Autounattend.xml
mongoose*

# Bundler/Rubygems
*.gem
.bundle
pkg/*
tags
/Gemfile.lock
test/tmp/
vendor/

# Documentation
_site/*
.yardoc/
doc/

# IDE junk
.idea/*
*.iml
.project
